<div class="jumbotron w-50 mx-auto p-4 shadow jumboform">
  <%if @group.is_not_full?%>
    <h1>Welcome to <%=@group.code%></h1>
    <hr>
    <p>
      Please enter your name.
    </p>
    <%=form_with model: @member, url: group_members_path(@group), local: true do |f| %>
      <div class="form-group d-md-flex justify-content-between">
        <%=f.text_field :name, class: "form-control m-1", placeholder: "Name"%>
        <button type="submit" class="btn btn-sm btn-danger font-weight-bold m-1">GO</button>
      </div>
    <%end%>
  <%else%>
    <h1 class="display-4 title">Sorry!</h1>
    <%=link_to "Group is full! Click here to continue.", root_path%>
  <%end%>
</div>
