<div class="container-fluid sidebars">
  <div class="row m-5 mb-3">
    <%@groups.each do |group|%>
      <%if group.owner == @user%>
        <div class="col-3 mb-3">
          <div class="card shadow">
            <div class="card-header font-weight-bold">
              <%=link_to group.code, group_path(group.code) %>
            </div>
            <ul class="list-group list-group-flush">
              <%group.members.each do |member|%>
                <li class="list-group-item"><%=member.name%></li>
              <%end%>
            </ul>
            <div class="card-footer">
              <%=
							link_to 'Delete', group_path(group),
							method: :delete,
							data: { confirm: 'Are you sure?' },
							class: "text-danger"
							%></div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
