<div>
	<%=form_with model: @member, url: members_path, local: true do |f|%>
		<label>Name:</label>
	  <%=f.text_field :name%>
	  <label>Code:</label>
	  <%=f.text_field :code%>
		<%=f.submit%>
	<%end%>
</div>
