html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(https://picsum.photos/1920/1080/?random);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: 'Righteous', cursive;
}

.theme {
  font-family: 'Open Sans', sans-serif;
}

.jumboform {
  background-color: rgba($color: #343a40, $alpha: 0.75) !important;
  color: white;
  min-width: 300px;
  margin-top: 17vh;
}

.nobg {
  background: white;
}

#map {
  height: 70%;
  width: 100%;
}

#panel {
  position: relative;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-family: 'Open Sans';
  width: 100%;
}
