html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(https://picsum.photos/1920/1080/?random);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: 'Righteous', cursive;
}

.theme {
  font-family: 'Open Sans', sans-serif;
}

.jumboform {
  background-color: rgba($color: #343a40, $alpha: 0.75) !important;
  color: white;
  min-width: 300px;
  margin-top: 17vh;
}

.nobg {
  background: white;
}

#map {
  height: 50%;
  width: 100%;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
	color: #ff00bf
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #00ff9c;
}
